
    <%- include("partials/header.ejs") %>

      <main>
         <% if (messages.length === 0) { %>
         <h2>Il n'y a aucun message de poste</h2>
         <% } else { %>

         <div id="message-list" class="message__list">
           
            <% for (message of messages) { %>
           
               <article class="message">
               <header class="message__header">
                  <h3 class="message__author"><%= message.author %></h3>
               </header>
               <section class="message__main">
                  <%= message.messageContent %>
               </section>
               <footer class="message__footer">
                  <p>Poste le <time><%= message.timeStamp %></time></p>
               </footer>
            </article>
           
            <% } %>
         
         <% } %>

         </div>

         <form method="post" action="/" id="message-form" class="message__form">
            <label for="message">Repondre:</label>
            <textarea
               name="message"
               id="message"
               class="message__area"
               placeholder="type your message here"
            ></textarea>
            <label for="username">ton pseudo</label>
            <input
               type="text"
               id="username"
               name="username"
               class="message__username"
            />
            <button class="btn__submit" type="submit">Poster</button>
         </form>
      </main>

      <%- include("partials/footer.ejs") %> 
    